* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url("./../img/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: whitesmoke;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
nav span {
  color: blue;
  font-weight: lighter;
}
#mydiv {
  text-align: center;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

input {
  height: 40px;
  width: 500px;
  display: block;
  margin: 40px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form #subBtn {
  height: 45px;
  width: 500px;
  font-size: 18px;
  border: 3px solid #f1f1f1;
  background-color: #04aa6d;
  color: white;
}
form a {
  height: 40px;
  width: 70px;
  font-size: 20px;
  text-decoration: none;
}
form span {
  font-size: 20px;
}
#error_msg {
  color: red;
  font-size: 18px;
  display: none;
}
#div_result {
  text-align: center;
  margin: auto;
  background-color: rgb(196, 238, 238);
  height: 220px;
  width: 900px;
  color: black;
  font-size: 70px;
  padding-top: 40px;
  margin-top: 150px;
  border-radius: 20px;
  border: black solid 2px;
}
